body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: gray;
    padding: 10px 0;
}

.container{
    width: 80%;
    position: relative;
    margin: 0 auto;

}

h1{
    color: white;
    display: inline;
    width: 30%;    
    vertical-align: middle;
}

.logo{
    width: 100px;
    
}

nav{
    position: absolute;
    top: 50%;
    right: 0;
}

nav ul{
    list-style: none;
    text-align: right;
}

nav li{
    display:inline;
    vertical-align: middle;
    padding-right: 10px;
}

nav a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
}

nav a:hover{
    color: purple;
}

.produtos{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.produtos li{
    display: inline-block;
    margin: 5% 1.5%;
    width: 25%;
    vertical-align: top;
    text-align: center;   
    border: 5px solid gray;
    border-radius: 1em;
    box-sizing: border-box;
}

.produtos li:hover{
    border: 7px solid purple;
}

.produtos li:hover h2{
    color: purple;
}

.produtos li:active{
    border: 7px solid purple;
}

.produtos h2{
    color: black;
    font-size: 1.8em;
    font-weight: bold;
}

.produtos-descricao{
    color: black;
    font-size: 1.2em;
}

.produtos-preco{
    color: rgba(0, 0, 0, 0.612);
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 0;
}

footer{
    background-color: black;
    padding: 5% 0;
    text-align: center;
}

footer p{
    color: white;
    font-size: 1.2em;
}

.logo-footer{
    width: 100px;
    margin: 0 0 5%  0;
}



.main-contato{
    display: inline-block;
    background: url("layered-peaks-haikei.svg") no-repeat center center;
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    padding: 10% 0;
}

.container-main{
    width: 80%;
    margin: 0 auto;
    padding: 5%;
    text-align: center;    
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}



.formulario label, .formulario legend{
    display: block;
    margin: 2% 0;
    color: white;
    font-size: 1.2em;

}

.input-padrao{
    display: block;
    width: 100%;
    padding: 10px 0;
    margin: 1% 0 1% 0 ;
    border-radius: 5px;
    border: none;
    
}

.checkbox{
    display: inline-block;
    width: 10%;
    margin: 2% 0;
}

.enviar{
    width: 50%;
    padding: 20px 0;
    margin: 1% 0 1% 0 ;
    border-radius: 2em;
    border: none;
    background-color: purple;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s all;
    cursor: pointer;

}

.enviar:hover{
    background-color: rgb(69, 0, 69);
    transform: scale(1.2);
}

table {
    width: 40%;
    margin: 10% auto;
    text-align: center;
    font-size: 1.2em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

table th {
    background-color: purple;
    color: white;
    padding: 10px 0;
    font-size: 1.5em;
    font-weight: bold;
}

table td {
    padding: 10px 010px;
    border: 1px solid black;
}


/* CSS da página index.html */

.banner{
    width: 100%;
    margin: 0 auto;
    padding: 0 0;
    text-align: center;
    background-color: black;
}

.title-main{
    color: black;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 1em auto;
    clear: left;
}

.main p {
    color: black;
    font-size: 1.2em;
    text-align: center;
    margin: 1em 1em;
}

.main bold{
    font-weight: bold;
}

.main em{
    font-style: italic;
}

.utensilios{
    width: 150px;
    float: left;
    margin: 0 1em;
}

.imagembeneficios{
    width: 60%;
}