header{
    background-color: gray;
    padding: 10px 0;
}

.container{
    width: 80%;
    position: relative;
    margin: 0 auto;

}

h1{
    color: white;
    display: inline;
    width: 30%;    
    vertical-align: middle;
}

.logo{
    width: 100px;
    
}

nav{
    position: absolute;
    top: 50%;
    right: 0;
}

nav ul{
    list-style: none;
    text-align: right;
}

nav li{
    display:inline;
    vertical-align: middle;
    padding-right: 10px;
}

nav a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
}

nav a:hover{
    color: purple;
}

main{
    background: url("layered-peaks-haikei.svg") no-repeat center center fixed;
    background-size: 100% ;
}

.container-main{
    width: 80%;
    margin: 0 auto;
    text-align: center;    
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}




footer{
    background-color: black;
    padding: 5% 0;
    text-align: center;
}

footer p{
    color: white;
    font-size: 1.2em;
}

.logo-footer{
    width: 100px;
    margin: 0 0 5%  0;
}