header{
    background-color: gray;
    padding: 10px 0;
}

.container{
    width: 80%;
    position: relative;
    margin: 0 auto;

}

h1{
    color: white;
    display: inline;
    width: 30%;    
    vertical-align: middle;
}

.logo{
    width: 100px;
    
}

nav{
    position: absolute;
    top: 50%;
    right: 0;
}

nav ul{
    list-style: none;
    text-align: right;
}

nav li{
    display:inline;
    vertical-align: middle;
    padding-right: 10px;
}

nav a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
}

nav a:hover{
    color: purple;
}

.produtos li{
    display: inline-block;
    width: 30%;
    margin: 0 1%;
    vertical-align: middle;
}