
body {
    
    background-color: black;
}

.principal{
    padding: 30px;
    color: white;
}

.imagembanner{
    width: 100%;

}

h1{
    color: white;
    text-align: center;
}

.title{
    text-align: center;
    color: white;
    padding: 50px;
}

p{
    text-align: center;
}

#missao{
    color: white;
    text-align: center;
    font-size: 20px;
}

em strong{
    color: red;
}

.title-center{
    color: white;
    text-align: center;
}

ul{
    display: inline-block;
    vertical-align: middle;
    width: 20%;
}

.itens{
    font-size: 20px;
    text-decoration: underline;
}

.beneficios{
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

.imagembeneficios{
    width: 50%;
    vertical-align: middle;

}